

html {
  font-size: 14px;
  overflow-x: hidden;
}
::selection{
  background-color: #b3d4fc;
  text-shadow: none;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -.02rem;
}

*,
*:focus {
  outline: none !important;
}

a {
  color: #2d2d2d;
  cursor: pointer;
}

a:hover{
  color: #900637;
}
a:focus {
  color: #900637;
  text-decoration: none;
}

.hiding {
  opacity: 0;
}

.showing {
  opacity: 1;
}

.img-rounded {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}
.copyrights{
text-indent:-9999px;
height:0;
line-height:0;
font-size:0;
overflow:hidden;
}




.header{
  font-size: 18px;
}
.title-font{
  font-size: 20px;
  font-weight: 600;
  color: #900637;
}
.navbtn{
  cursor: pointer;
}
.navlogo{
  display:flex;
  flex-direction:row;
  align-items: center;
}
.chapter-title{
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 35px;
  color: #900637;

}
.chapter-white{
  color: white !important;
}



.productCenter{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.productCenter-con{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.product-introduce-con{
  width: 100%;
  color: #900637;
  font-size: 18px;
  font-weight: 500;
}
.pd-intro-box{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.pd-intro-box-item{
  flex: 1;
  border: 2px solid #900637;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-title{
  height: 70px;
  width: 60%;
  background: #900637;
  line-height: 70px;
  font-size: 25px;
  color: white;
  text-align: center;
}
.intro-con{
  width: 100%;
  overflow: scroll;
}
.intro-item{
  height: 35px;
  line-height: 30px;
  text-align: center;
}
.cardItem{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardItem-font{
  background: #900637;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color:white;
}
.cardPic{
  width: 200px;
  height: 200px;
}



.aboutus{
  width: 100%;
  background: #900637;
  color: white;
  padding-bottom:30px ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutus-purpose{
  font-size: 20px;
  font-weight: 500;
}
.aboutus-font{
  color: white ;
  padding: 20px;
  font-size: 16px;
}


.culture-con{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.culture-item{
  width: 80px;
  writing-mode: vertical-lr;/*从左向右 从右向左是 writing-mode: vertical-rl;*/  
  display: flex;
  flex-direction: row;
  /* color: #445F70; */
  color: #900637;
}

.cul-til{
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color:#900637;
}
.cul-content{
  height: 250px;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  border: 3px solid #900637;
  border-radius: 10px;
  margin-bottom: 30px;
}
.product-idea{
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: scroll;
  justify-content: space-around;
}
.cardIdea{

}
.ideaPic{
  width: 100px;
  height: 100px;

}
.cardidea-font{
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color:#900637;
}
.footer{
  width: 100%;
  height: 250px;
  background: #900637;
  color: white;
}
.foot-con{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.code{
  width: 100px;
  height: 100px;
  margin: 20px;
}
.foot-contactus{
  width: 400px;
  height: 100px;
}
.foot-contactus-title{
  font-size: 18px;
  margin-bottom: 10px;

}
.foot-copyright{
  width: 100%;
  height: 50px;
  line-height: 100%;
  text-align: center;



}


@media only screen and (max-width: 700px) {
  .pd-intro-box{
    display: flex;
    flex-direction: column;
  }


  .chapter-title{
    font-size: 25px;
  }
  .intro-title{
    font-size: 20px;
  }
  .ideaPic{
    width: 30px;
    height: 30px;
  
  }
  .cardidea-font{
    width: 30px;
  }

  .culture-con{
    flex-direction: column;
  }
  
  .culture-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    writing-mode:horizontal-tb;
    /* color: #445F70; */
    color: #900637;
  }
  
  .cul-til{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color:#900637;
    flex: 1;
  }
  .cul-content{
    flex: 4;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    border: 3px solid #900637;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
}